
----------------------------
-----CSS RESET -------------
----------------------------

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ 
html, header,article,body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, 
td, article, aside, canvas, details,
embed, figure, figcaption, footer,
header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, 
audio, video { 
	margin: 0; 
	padding: 0; 
	border: 0;
 	font-size: 100%;
 	font: inherit; 
 	vertical-align: baseline; 
 }
 /* HTML5 display-role reset for older browsers */
html {height: 100%}
   
body {
	height: 100%;
	font: 14px/18px "April", Times, sans-serif; 
}

ol, ul {
   		list-style:none;
} 

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;

}	
.clearfix:before,
.clearfix:after {
	content:" ";
	display: table;
}
.clearfix:after {clear:both;}

.left{float: left;}
.right{float: right;}
/*header*/
.conteiner {
	width: 740px;
	margin:0 auto;
}

.header {
	position: absolute;
	padding: 20px 0;
	width:100%; 
	background-color: #fff;

}

.text-logo {
	float:left;
	text-transform: uppercase;
	font: 20px/20px Sans Bold Italic, sans-serif;
	color:66697e;
} 	
.nav {
	float:right;

}
.nav li {
	float: left;
	margin-right: 40px;
}
.nav a{
	text-transform: none;
	font-size: 14px; 
	color:black;
}
.nav a:hover {
	background-color:e5e5e5;
}
.nav li:last-child {
	margin-right: 0;
}
/*masthed*/
.masthead {
	height: 550px;

	padding-top:250px;
	text-align: center;
	color: #fff;

	background:#222 url(/home/mojo/HJ-6/img/masthead.jpg) no-repeat center bottom;
	background-size: cover;
}
.masthead h1 {
	margin-bottom:20px; 
	font:40px/40px Arial,sans-serif;
	text-transform: uppercase;

}
.masthead h5{
	
	margin-bottom:40px; 
	font:15px/15px  Arial,sans-serif;
}

.button{
	text-transform: uppercase;
	font: bold 10px/10px  Arial,sans-serif;
	display: inline-block;
	background-color:e84545;
	padding: 15px 50px;
	cursor: pointer;

	border-radius: 4px
}
.button:hover {
	background-color:681818;
	color:#fff;
}

/*features*/
.box {
	padding: 120px 0;
}
#features {
	
	text-align: center;
}
.services {
	margin:0 365 0 365;
}
.features-item{

	float:left;
	width:33.33%;
	padding: 100px 10px 100px 0;
}


h5.title {
	margin-bottom: 10px;
	font-size: 18px;
	color:2b2e31;
}
.features-item p {
	font-size: 15px;
	color:a6aaae ;
	line-height:24px;
}
.easily  {
	background: url(/home/mojo/HJ-6/img/4.jpg) no-repeat center top;
}
.responsive {
	background: url(/home/mojo/HJ-6/img/3.jpg) no-repeat center top;
}
.modern {
	background: url(/home/mojo/HJ-6/img/2.jpg) no-repeat center top;
}
.clean {
	background: url(/home/mojo/HJ-6/img/6.jpg) no-repeat center top;
}
.ready {
	background: url(/home/mojo/HJ-6/img/5.jpg) no-repeat center top;
}
.download {
	background: url(/home/mojo/HJ-6/img/1.jpg) no-repeat center top;
}
/*work*/
#work {

}

.rectangle  {
	padding-bottom: 104px;
	


}
.rectangle3 {
	/*float:left;
	width: 15%;
*/
}
.rectangle3 img {
	overflow: hidden;
	width: 25%;
	height: 350px;
	float: left;
}


/*
	background: url(/home/mojo/HJ-6/img/work.jpg) no-repeat center;
	height: 702px;*/

/*footer*/

.fconteiner {
	background-color:3a3e64;
}
.footer-top {

	width: 100%;
	text-align: center;
	
	height: 245px;


}

.item {
	padding-top: 70px;

	float: left;
	width: 33.33%;
	

}
.cat {

	font:18px/18px  "Sans Bold Italic", April, sans-serif;
	color: fefefe;
	text-transform: uppercase;
}
.btn {
	margin-top: 20px;
	color:80839b;
	font-size: 16px;
}
.social {
	margin-top: 20px;
}
.social a {
	display:inline-block;
	background: url(/home/mojo/HJ-6/img/icon.jpg)no-repeat;
	width: 40px;
	height: 40px;
	margin: 0 3px;
	border:1px solid #fff ;
}
.social a.ic-fb {
	background-position: 0 0; 
}
.social a.ic-fb:hover{

	background-position: 0 -40px;
	border-color: 579af6;
	
}

.social a.ic-tw {
	background-position: -40px 0; 
}
.social a.ic-tw:hover {

	border-color: 579af6;
	background-position: -40px -40px; 
}

.social a.ic-in {
	background-position: -80px 0; 
}
.social a.ic-in:hover {
	border-color: 579af6;
	background-position: -80px -40px;  
}
/*footer bottom*/

.bottom {
	background-color: 313454;
	height: 94px;

}
.bottom p {
	padding: 0 700 0 700;
	text-align: center;
	font-size: 16px;
	color:6a6b74;
	font-family: Ubuntu Bold, April, sans-serif;
}
.bottom p.btom{
	color:e3e3e8;
}

